@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


/* Login.css */
.signup-page, .login-page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.signup, .login{
  width: 400px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup .signup-heading,.login .login-heading {
  font-weight: bold;
}

.task-form, .signup-form, .login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.task-form-group, .signup-form-group, .login-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
}

.task-form-group label, .signup-form-group label, .login-form-group label{
  display: flex;
  font-weight: bold;
  color: rgb(106, 99, 99);

}
.input-box {
  width: 100%;
  padding: 6px 12px;
  outline: none;
  display: flex;
  color: rgb(77, 75, 75);
  border-radius: 4px;
  border: 1px solid gray;
} 


.task-button, .signup-button ,.login-button {
  width: 100%;
  padding: 6px;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 1rem;
}

.task-button:hover, .signup-button:hover ,.login-button:hover {
  background-color: #005bb9;
}

.google-login{
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 4px 0px;
  border-radius: 4px;
}

.google-login .google-login-button {
  border: none;
  display: flex;
  font-size: 1.1rem;
  background-color: white;
  color: rgb(92, 89, 89);
}
.google-logo{
  height: 35px;
  width: 35px;
}

.google-login button:hover {
  cursor: pointer;
}

/* signup page */

/* navbar */

.navbar{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 3px 150px;
  box-shadow: 1px 1px 4px #888888;
}

.navbar-logo-section{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.navbar-logo-img{
  width: 35px;
  height: 30px;
  cursor: pointer;
}

 .navbar-profile-section{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
/*
.navbar-profile-img{
  width: 30px;
  height: 30px;
  cursor: pointer;
} */


.log-out-btn{
  background-color: red;
  padding: 2px 13px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 4px 40px;
  margin-top: 25px;
}

.container-head{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.container-time{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  color: rgb(100, 95, 95);
}

.container-btn{
  
}
.btn{
  background-color: rgb(28, 196, 28);
  padding: 4px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container{
  width: 500px;
  background-color: #fff;
  opacity: 1;
  z-index: 1;
  padding: 25px 15px;
  border: 1px solid blue;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-list-box{
  display: flex;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
}

.add-list-box select{
  width: 360px;
  outline: none;
}


.add-list{
  display: flex;
  width: 100%;
  gap: 16px;
  justify-content: space-between;
}

.task-input-box {
  width: 360px;
}
.add-list-section{
  height: 65px;
}

.modal-box-head{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.red-btn{
  background-color: rgb(246, 50, 56);
  padding: 4px 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.todo-section{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.todo-box{
  /* border: 2px solid blue; */
  padding: 4px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-box-heading{
  color: rgb(85, 84, 84);
  text-decoration: underline;
  font-size: medium;
}

.task-box{
  display: flex;
  padding: 4px 12px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
}

.task-box-start{
  display: flex;
  gap: 25px;
}

.task-box-end{
  display: flex;
  gap: 30px;
}

.task-box-info{
  display: flex;
  gap: 15px;
}

.task-box-btn{
  display: flex;
  gap: 10px;
}

.delete-btn{
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 1px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: rgb(247, 85, 85);
}
.edit-btn{
  padding: 1px 16px;
  cursor: pointer;
}

.edit-btn:hover{
  background-color: rgb(7, 150, 7);
}

.task-box-text{
  font-size: smaller;
  color: rgb(99, 95, 95);
  font-weight: 300;
}

#upcoming-task{
  border-color: rgb(124, 134, 63);
}
#today-task{
  border-color: blue;
}
#today-completed-task{
  border-color: rgb(19, 190, 19);
}
#completed-task{
  border-color: rgb(19, 190, 19);
}
#pending-task-box{
  border:1px solid red;
}